*{
    margin: 0;
    padding: 0;
}
.center{
    width: 100%;
background-color: #f7f7f7;
padding-top: 20px;
padding-bottom: 30px;

}
.wrip{
    width: 1000px;
    min-width: 1000px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 100px;
    position: relative;
}
h1{
    border-left: 6px solid red;
    padding-left: 20px;
    font-weight: 400;
     line-height: 25px;
     font-size: 20px;
}
form{
    width: 350px;
    
   margin: 0 auto;
  
}
p a {
    text-decoration: none;
    padding: 5px 0 ;
}
 p .a1{
    float: left;
    color: black;
    font-weight: 700;
    font-size: 15px;
 }
 p .a2{
    float: right;
    color: rgba(0, 0, 255, 0.688);
    font-size: 13px;
 }
 #p{
    width: 350px;
    position: relative;
 }
 #p a{
    color: #a3a3a3;
 }
 #p .a3{
float: left;
padding-left: 30px;
 }
 #p .a4{
    float: right;
     }
 #p .loadGiet{
     position: absolute;
     left: -160px;
     top: 10px;
 }
 p input{
    margin-bottom: 25px;
     box-sizing: border-box;
    width: 350px;
    line-height: 25px;
    padding: 15px 0px;
    background: #f7f7f7;
    color: #a3a3a3;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
 }

 p .tableBtn{
    background-color: rgb(242, 6, 6);
    color: white;
    font-size: 20px;
 }